// Colors

$color: (
    orange: #fd7e14,
    primary: #0d6efd,
    white: #ffffff
);

// font-size
$font-size: (
    small: 1em,
    normal: 2em,
    larger: 3em
);

// border-radius
$border-radius: (
    rad-px-s: 10px,
    rad-px-m: 20px,
    rad-px-l: 50px,
    rad-per-c: 50%,
)