@use "../abstracts/index" as *;

$type-speed: 4s;
$cursor-speed: 0.7s;

.about {
  width: 98vw;
  overflow: hidden;
  @include grid(2, 1fr, null);
  padding: 20px 0;

  & .img-container {
    width: 100%;
    height: 60vh;
    & .img {
      width: 100%;
      height: 100%;
      background: url("/src/Image/Ricky_Moses_2.jpg") no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("/src/Image/Splash_4.jpg");
        background-size: cover;
        background-position: center;
        mix-blend-mode: screen;
      }
    }
  }

  & .about-container {
    width: 95%;

    & h1 {
      font-variant: small-caps;
    }

    & .type-write {
      width: fit-content;
      display: inline-block !important;
      overflow: hidden;
      white-space: nowrap;
      border-right: 2px solid #000;
      animation: typing $type-speed steps(50, end) infinite,
        blink $cursor-speed step-end infinite;
    }

    & table {
      // width: 70%;

      & th,
      td {
        // width: 100%;
        padding: 10px;
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
